<%= form_tag orders_path, model: @order , class: 'form-style' do %>
  <h1>Новый заказ</h1>
  <ul>
    <li>
      <%= label_tag :client_name, 'Ваше имя'%>
      <%= text_field_tag :client_name %>
    </li>
    <%= label_tag :banned_ingredients, 'Исключить ингредиенты', class: 'label_gray'%>
    <% @ingredients.each do |ingredient| %>
      <label class="checkbox-btn red_checked">
        <%= check_box_tag 'banned_ingredients[]', ingredient.name %>
        <span><%= ingredient.name %></span>
      </label>
    <% end %>
    <br>
    <br>
    <%= submit_tag "Создать", class: "btn" %>
  </ul>
<% end %>