<%= form_tag dishes_path, class: 'form-style' do %>
  <h1>Новое блюдо</h1>
  <ul>
    <li>
      <%= label_tag :name, 'Название блюда'%>
      <%= text_field_tag :name, nil, required: true %>
    </li>
    <%= label_tag :ingredients, 'Состав', class: 'label_gray'%>
    <% @ingredients.each do |ingredient| %>
      <label class="checkbox-btn green_checked">
        <%= check_box_tag 'ingredients[]', ingredient.name %>
        <span><%= ingredient.name %></span>
      </label>
    <% end %>
    <br>
    <br>
    <%= submit_tag "Создать", class: "btn" %>
  </ul>
<% end %>