<!DOCTYPE html>
<html>
  <head>
    <title>OverHealth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <div id='logo_text'>
            <h2><%= link_to 'OverHealth', new_order_path%></h2>
        </div>
        <nav class="menu menu-1">
          <ul>
            <li><%= link_to 'Заказы', orders_path%></li>
            <li><%= link_to 'Блюда', dishes_path %></li>
          </ul>
        </nav>
    </header>
    <div class="main"> 
        <%= turbo_frame_tag "flash" do %>
          <%= render "layouts/flash" %>
        <% end %>
      <%= yield %>
    </div>
    <footer>
        <h2>Contacts</h2>
        <a href="https://github.com/Croud9/Rood" target="_blank">Create by Svyat Melihov | Croud9</a>
    </footer>
  </body>
</html>
